<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Listar usuários BackOffice</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <h1>Listar usuários BackOffice</h1>
    <table>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Senha</th>
            <th></th>
        </tr>
        <tr th:each="usuarioBackOffice : ${usuariosBackOffice}">
            <td th:text="${usuarioBackOffice.nome}">Nome</td>
            <td th:text="${usuarioBackOffice.email}">Email</td>
            <td th:text="${usuarioBackOffice.senha}">Senha</td>
            <td>
                <a th:href="@{'/usuarioBackOffice/edit/' + ${usuarioBackOffice.id}}">Editar</a>
                <a th:href="@{'/usuarioBackOffice/delete/' + ${usuarioBackOffice.id}}">Excluir</a>
            </td>
        </tr>
    </table>
    <p><a href="/usuarioBackOffice/create">Criar novo usuário BackOffice</a></p>
    <p><a href="/usuarioBackOffice">Voltar para a lista de usuários BackOffice</a></p>
</body>
</html>
