.line-breaker{
    background-color: darkgray;
    height: 1px;
    width: 90%;
}

#imagePreviewContainer {
    display: flex;
    flex-wrap: wrap;
}

.image-wrapper {
    cursor: move;
}

.sortable-ghost {
    opacity: 0.4;
}