.header-frontoffice {
    height: 70px;
    background-color: #FDDB93;
}

.logo img {
    width: 100px;
    height: 100px;
}

.carrinho {
    display: flex;
    position: relative;
}

.qtd-itens-carrinho {
    display: flex;
    align-items: center;
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background-color: #8F7C53;
    color: rgb(255, 255, 255);
    font-size: 11px;
    top: -10px;
    right: -10px;
    pointer-events: none;
    transition: all 0.3s ease 0s;
    justify-content: center;
}

.texto-login {
    width: 170px;
    font-weight: bolder;
}

.login-cadastro-container {
    display: none;
    background-color: #FFF;
    width: 200px;
    height: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: absolute;
    top: 3.5rem;
    z-index: 10;
}

.login-cadastro:hover {
    .login-cadastro-container {
        display: flex;
    }
}

.login-cadastro-container :hover {
    display: flex;
}