<header th:fragment="header" class="d-flex align-items-center px-5 header-frontoffice">
    <a href="/" class="logo">
        <img src="/images/logo-site.png" alt="Logo">
    </a>
    <div class="d-flex flex-grow-1 justify-content-end align-items-center">
        <div class="me-5">
            <div th:if="${usuarioLogado == null}" class="d-flex justify-content-center align-items-center login-cadastro">
                <svg width="32px" height="32px" viewBox="0 0 35 34" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path fill="#000" fill-opacity="0.01" d="M4.204 4.2H29.83v25.6H4.204z"></path>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M17.017 8.466a4.269 4.269 0 014.272 4.267A4.269 4.269 0 0117.017 17a4.269 4.269 0 01-4.27-4.267 4.269 4.269 0 014.27-4.267zm0 1.6a2.668 2.668 0 00-2.67 2.667 2.668 2.668 0 002.67 2.667 2.668 2.668 0 002.67-2.667 2.668 2.668 0 00-2.67-2.667zm0 8.534c1.478 0 3.53.48 5.175 1.24 2.07.955 3.368 2.246 3.368 3.826 0 1.031-.837 1.867-1.869 1.867H10.344a1.868 1.868 0 01-1.87-1.867c0-1.58 1.3-2.87 3.369-3.826 1.645-.76 3.696-1.24 5.174-1.24zm0 1.6c-1.251 0-3.077.435-4.502 1.093-1.67.77-2.438 1.614-2.438 2.373 0 .148.12.267.267.267H23.69c.148 0 .267-.12.267-.267 0-.76-.77-1.603-2.438-2.373-1.425-.658-3.251-1.093-4.503-1.093z" fill="#000"></path>
                    <ellipse cx="17.017" cy="17" rx="16.017" ry="16" stroke="#000" stroke-width="2"></ellipse>
                </svg>
                <span class="texto-login ms-2">
                    Olá, faça o seu login ou cadastre-se
                    <svg viewBox="0 0 18 11" aria-labelledby="arrowIcon arrowDesc" fill="#000" width="15px" height="11px" class="ms-4">
                        <path fill="inherit" d="M2.1 0L0 2.1 9 11l9-8.9L15.9 0 9 6.8 2.1 0z"></path>
                    </svg>
                </span>
                <div class="login-cadastro-container rounded shadow">
                    <a th:href="@{/login}" class="text-decoration-none">
                        <button class="btn btn-primary">Entrar</button>
                    </a>
                    <a th:href="@{/usuario/criar}" class="text-decoration-none">
                        <button class="btn btn-secondary">Cadastrar</button>
                    </a>
                </div>
            </div>

            <div th:if="${usuarioLogado != null}" class="d-flex justify-content-center align-items-center usuario-logado">
                <h5 class="m-0">Bem-vindo, &nbsp;</h5>
                <h5 class="text-black m-0" th:text="${usuarioLogado.nome.toUpperCase()}"></h5>
                <svg viewBox="0 0 18 11" aria-labelledby="arrowIcon arrowDesc" fill="#000" width="15px" height="11px" class="ms-2">
                    <path fill="inherit" d="M2.1 0L0 2.1 9 11l9-8.9L15.9 0 9 6.8 2.1 0z"></path>
                </svg>
                <div class="usuario-logado-container rounded shadow">
                    <a th:href="@{/usuario/editar/{id} (id=${usuarioLogado.id})}" class="text-decoration-none">
                        <button class="btn btn-primary">Minha conta</button>
                    </a>
                    <a th:href="@{/pedido/meuspedidos}" class="text-decoration-none">
                        <button class="btn btn-primary">Meus pedidos</button>
                    </a>
                    <button id="logoutButton" class="btn btn-primary-exit">Sair</button>
                </div>
            </div>
        </div>

        <span class="carrinho">
            <a th:href="@{/carrinho}" class="text-decoration-none">
                <svg width="25" height="24" aria-labelledby="headerShoppingBasketIcon headerShoppingBasketDesc" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <title>icone de cesta de compras do header</title>
                    <path fill-rule="evenodd" clip-rule="evenodd" d="M14.334 2.5l7.5 6.294h1.833a1 1 0 010 2h-.123l-1.492 11.362c-.14 1.058-1.001 1.971-2.283 1.971H4.901c-1.281 0-2.144-.913-2.283-1.971L1.123 10.794H1a1 1 0 110-2h1.833l7.5-6.294a2 2 0 014 0zm-2 2c.353 0 .684-.091.972-.252l5.417 4.546H5.944l5.418-4.546c.287.16.619.252.972.252zM3.14 10.794h18.386L20.07 21.895c-.018.133-.112.232-.3.232H4.901c-.188 0-.283-.1-.3-.232l-1.46-11.1zm14.86 2a1 1 0 00-1 1v6a1 1 0 102 0v-6a1 1 0 00-1-1zm-4.778 1a1 1 0 112 0v6a1 1 0 11-2 0v-6zm-2.778-1a1 1 0 00-1 1v6a1 1 0 102 0v-6a1 1 0 00-1-1zm-4.778 1a1 1 0 112 0v6a1 1 0 11-2 0v-6z" fill="#000"></path>
                </svg>
                <div th:if="${carrinho != null}" th:text="${carrinho.quantidadeItens}" class="qtd-itens-carrinho"></div>
                <div th:if="${carrinho == null}" class="qtd-itens-carrinho">0</div>
            </a>
        </span>
    </div>

    <!-- Adicionei este script antes da tag de fechamento </body> -->
    <script>
    document.getElementById('logoutButton').addEventListener('click', function() {
        // Faz uma requisição para o endpoint de logout
        fetch('/logout', { method: 'GET' })
            .then(response => {
                if (response.ok) {
                    // Redireciona para a página inicial
                    window.location.href = '/home';
                }
            });
    });
    </script>
</header>